.header__profile {
    display: flex;
    align-items: center;

    &__logo {
        margin-right: 20px;
    }

    &__info {
        display: flex;
        flex-direction: column;

        &__name {
            font-size: 15px;
            line-height: 29px;
        }
        &__level {
            font-size: 10px;
            line-height: 29px;
        }
    }
}
