.start-game-screen {
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/images/bgs/start-game-screen.png");
    background-repeat: no-repeat;
    background-size: cover;

    &__center {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 620px;

        &__game-title {
            margin-bottom: 20px;
        }

        &__game-year {
            margin-bottom: 90px;
        }

        &__btn {
            width: 342px;
            height: 73px;

            &:first-of-type {
                margin-bottom: 35px;
            }
        }
    }
}
