.performance-chart-sections {
    margin-top: 20px;

    &__btn {
        width: 158px !important;
        height: 50px !important;
        box-shadow: rgba(125, 125, 125, 0.5) 3px 3px 6px inset;
        text-shadow: rgba(0, 0, 0, 0.3) -1px 1px 0px;
        // margin-right: 0.5px !important;
        border: none !important;

        &.active {
            text-decoration: underline !important;
        }

        &.applicants {
            background: linear-gradient(
                rgb(55, 138, 184) 0%,
                rgb(48, 120, 159) 100%
            );
        }

        &.cost {
            background: linear-gradient(
                to top,
                rgb(123, 77, 163) 0%,
                rgb(163, 92, 224) 100%
            );
        }

        &.clicks {
            background: linear-gradient(
                rgb(165, 213, 61) 0%,
                rgb(139, 178, 54) 100%
            );
        }
    }
}

.performance-chart {
    padding: 20px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 8px;
    border-radius: 5px;
    background-color: white;
}

.recharts-default-legend {
    position: relative !important;
    top: 15px !important;
}
