

.global-actions {
    margin-top: 30px;
    display: flex;
    flex-direction: row-reverse;


    &__btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        cursor: pointer;
        margin-right: 25px;

        &:first-of-type {
            margin-right: 0;
        }

        svg {
            color: #117779 !important;
            transition: transform 250ms;
        }
        

        &:hover {
            svg {
                transform: scale(1.2);
            }
        }

        &.reset svg {
            width: 28px;
            height: 28px;
        }  

        &.random svg {
            width: 32px;
            height: 32px;
        }

        &.global-bid svg {
            width: 30px !important;
            height: 30px !important;
        }
    
        &.vendor-actions svg {
            width: 30px !important;
            height: 30px !important;
        }
    }
}