.game-modal {
    .title {
        display: block;
        text-align: center;
        margin-bottom: 30px;
        font-size: 18px;
    }

    &__explanation {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        font-size: 11px;
        line-height: 13px;
        margin-bottom: 40px;

        span,
        p {
            margin-bottom: 15px;
        }
    }

    &__improvement-feedback {
        margin-bottom: 60px;

        ul {
            font-size: 11px;
        }

        &__item {
            margin-bottom: 15px;
            path {
                stroke: #fff !important;
            }
            svg {
                margin-right: 15px;
            }
        }
    }

    &__stats {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;

        &__result-container {
            display: flex;
            align-items: center;

            &__divider {
                background-color: #fff !important;
                margin: 0 40px !important;
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: 120px;
            }
        }

        &__title {
            font-size: 12px;
            line-height: 14px;
            margin-bottom: 20px;
        }

        &__score {
            font-size: 35px;
            line-height: 42px;
        }
        &__leaderboards {
            margin-top: 20px;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-around;

        &__button {
            width: 240px;
            // margin: 0 auto;
        }
 
    }
}
