.settings-modal {
    margin: 0 auto;
    width: 500px;

    &__buttons {
        margin-top: 120px;
        display: flex;
        justify-content: space-between;

        &__button {
            width: 120px;
            height: 53px;

            svg {
                width: 30px;
                height: 30px;
            }
        }
    }
}
