@import "../../../../assets/styles/variables";

// This class is meant to be put on elements so the header doesn't collapse with them
// .header-padding {
//     padding-top: 85px;
// }

.header {
    z-index: 100;

    &.header-play {
        position: fixed;
        background-image: linear-gradient(128deg, #1e8281, #107678);
        background-size: cover;
    }

    &.header-default {
        position: absolute;

        .header__pandologo {
            width: 56px;
            height: 70px;
            object-fit: contain;
        }
    }

    padding: 15px 30px;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    * {
        font-family: $font-family-baracade;
        color: white;
    }

    .logo {
        width: 60px;
        object-fit: contain;
    }

    &__setings {
        transition: transform 500ms;
        width: 35px;
        height: 35px;
        cursor: pointer;

        &:hover {
            transform: rotate(210deg);
        }
    }
}
