.vendor-list {
    background-color: #F8F8F8;


    &__component {
        // background-color: rgba(67, 160, 71, 0.2);
        display: flex;
        align-items: center;
        // justify-content: space-between;
        margin-bottom: 10px;
        border: 1px solid #13797A;
        padding: 10px 25px;

        &__vendor-data {
            display: flex;
            align-items: center;
            width: 250px;

            &__title {
                font-size: 18px;
                margin-left: 10px;
            }

            &__circle {
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background-color: #fff;
                width: 50px;
                height: 50px;

                &__img {
                    width: 100%;
                    object-fit: contain;
                }
            }
        }

        &__vendor-bid {
            margin-left: 50px;
            &__input {
                width: 80px;
            }
        }

        &__vendor-actions {
            margin-left: 50px;
        }
    }
}
