
.header__bars {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__bar {
        display: flex;
        margin-bottom: 20px;

        &:last-of-type {
            margin-bottom: 0;
        }

        &.red {
            * {
                color: #FF2B2B;
            }
        }

        &__title {
            width: 100px;
            font-size: 9px;
            margin-right: 15px;
        }

        &__progress {
            width: 120px;
        }

        &__value {
            font-size: 10px;
            margin-left: 15px;
        }
    }
}
