@import "../../assets/styles/variables";

.leaderboards {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/images/bgs/start-game-screen.png");
    background-repeat: no-repeat;
    background-size: cover;

    * {
        font-family: $font-family-baracade;
        color: #fff;
    }

    &__board {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 1078px;
        height: 700px;
        padding: 80px;
        background: rgba(56, 169, 153, 0.91) 0% 0% no-repeat padding-box;
        box-shadow: inset 0px 1px 2px #ffffff, 3px 3px 6px #22567d;
        border-radius: 8px;
        backdrop-filter: blur(50px);

        &__title {
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
            width: 540px;
            height: 67px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #38a999 0% 0% no-repeat padding-box;
            box-shadow: inset 0px 1px 2px #ffffff, 3px 3px 6px #22567d;
            border-radius: 8px;
            backdrop-filter: blur(50px);
            font-size: 23px;
            line-height: 28px;
        }

        &__titles-row {
            padding: 0 20px;
            display: flex;
            align-items: center;
            margin-bottom: 16px;

            span {
                font-size: 13px;
                line-height: 16px;
            }
        }

        &__data-rows {
            /*
            Scrollbar Styles
            */
            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                background-color: rgba(44, 133, 120, 0.65);
                border-radius: 10px;
            }

            &::-webkit-scrollbar {
                border-radius: 10px;
                width: 10px;
                background-color: rgba(44, 133, 120, 0.65);
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background: #22567d 0% 0% no-repeat padding-box;
            }

            height: 463px;
            overflow-y: scroll;
            padding: 20px;
            background: rgba(44, 133, 120, 0.65) 0% 0% no-repeat padding-box;
            border-radius: 8px;

            // opacity: 0.65;
            * {
                font-size: 15px;
                line-height: 18px;
            }

            &__row {
                width: 100%;
                height: 60px;
                padding: 8px 23px;
                margin-bottom: 15px;
                background: #107678 0% 0% no-repeat padding-box;
                border-radius: 30px;
                display: flex;
                align-items: center;
                &.current {
                    border: 4px solid #F9DFB4;
                }
                
            }
        }

        .w-1 {
            width: 150px;
        }
        .w-2 {
            width: 450px;
        }
        .w-3 {
            width: 250px;
        }
        .w-4 {
            width: 250px;
        }

        &__start-btn {
            width: 246px;
            height: 53px;
            margin: 0 auto;
            margin-top: 35px;
        }

        &__close {
            top: -30px;
            right: -30px;
        }
    }
}
