.choose-level-screen {
    width: 100vw;
    height: 100vh;

    background: transparent
        linear-gradient(
            1deg,
            #84c2b9 0%,
            #84c2b9 17%,
            #248886 73%,
            #107678 100%
        )
        0% 0% no-repeat padding-box;

    &__wrapper {
        // max-width: 85%; Was used with 3 options
        max-width: 75%;
        margin: 0 auto;

        &__title {
            text-align: center;
            margin: 0 auto;
            margin-bottom: 60px;
        }

        &__choice-cards {
            display: flex;
            // justify-content: space-between;
            justify-content: space-around;
            align-items: center;
        }

        &__name {
            display: flex;
            justify-content: center;
            align-items: center !important;
            margin-bottom: 90px !important;

            // Material UI Styles

            svg {
                color: #fff !important;
            }
            .MuiFormLabel-root {
                color: #84C2B9 !important;
            }

            .MuiFilledInput-underline:after {
                border-bottom-color: #fff !important;
            }

            .MuiInputBase-input {
                color: #fff !important;
                font-size: 22px !important;
            }

            .Mui-error {
                font-size: 18px !important;
            }

            .MuiInputLabel-formControl {
                font-size: 20px !important;
            }

        }
    }
}
