.close-button {
    // right: -30px;
    // top: -30px;
    width: 64px;
    height: 64px;
    position: absolute;

    box-shadow: 0px 3px 6px #00000029;
    // opacity: 1;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: none;

    &.primary {
        background: #2e706b 0% 0% no-repeat padding-box;

        .close-button__close {
            svg,
            path {
                color: #fff;
            }
        }
    }
    &.white {
        background: #ffffff 0% 0% no-repeat padding-box;

        .close-button__close {
            svg,
            path {
                color: #22567d;
            }
        }
    }

    &__close {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            width: 35px;
            height: 35px;
        }
    }
}
