.global-bid-dialog {
    &__buttons-actions {
        .MuiButton-contained {
            background-color: #13797A;

            &:hover {
                background-color: darken(#13797A, 5%);
            }
        }
    }
}