@import "../../../assets/styles/variables";

.game-button {
    position: relative;
    padding: 18px;
    height: 53px;
    background: #22567d 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 1px 2px #ffffff, 3px 3px 6px #22567d;
    border-radius: 8px;
    opacity: 1;
    backdrop-filter: blur(50px);
    outline: none;
    border: none;
    transition: transform 0.2s;

    // Text
    font: normal normal normal 18px/22px $font-family-baracade;
    letter-spacing: 0px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;

    &.secondary {
        background: #38a999 0% 0% no-repeat padding-box;
        box-shadow: inset 0px 1px 2px #ffffff, 3px 3px 6px #22567d;
    }

    &.animate-hover {
        $animation-duration: 0.35s;

        &::before,
        &::after {
            border-radius: 8px;
            border: 0 solid transparent;
            box-sizing: border-box;
            content: "";
            pointer-events: none;
            position: absolute;
            width: 0;
            height: 0;

            bottom: 0;
            right: 0;
        }

        &::before {
            border-left-width: 2px;
            border-bottom-width: 2px;
        }

        &::after {
            border-right-width: 2px;
            border-top-width: 2px;
        }

        &:hover {
            transform: scale(1.04);

            &::before,
            &::after {
                border-color: #fff;
                border-radius: 8px;
                transition: border-color 0s, width $animation-duration,
                    height $animation-duration;
                width: 100%;
                height: 100%;
            }

            &::before {
                transition-delay: 0s, 0s, $animation-duration;
            }

            &::after {
                transition-delay: 0s, $animation-duration, 0s;
            }
        }
    }
}
