.vendor-selection-drawer {
    .ant-drawer-body {
        padding: 0px !important;
    }

    .ant-drawer-title {
        text-align: center;
        font-size: 24px;
        color: #13797A;
    }
}

.vendor-selection-drawer-wrapper {
    &__apply-btn {
        margin: 0 auto;
        margin-top: 50px;
        width: 320px;
    }
}
