@import "../../assets/styles/variables";

.game-modal {
    * {
        font-family: $font-family-baracade;
        color: #ffffff;
        opacity: 1;
    }

    &__close {
        right: -30px;
        top: -30px;
    }
}
