@import '../../../assets/styles/variables';

.modal-action-button {
    cursor: pointer;
    display: block;
    width: 246px;
    height: 53px;
    margin: 0 auto;
    background: #22567d 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 1px 2px #ffffff, 3px 3px 6px #22567d;
    border-radius: 8px;
    opacity: 1;
    backdrop-filter: blur(50px);
    outline: none;
    border: none;
    font: normal normal normal 18px/22px $font-family-baracade;
    color: #ffffff;
}
