.settings-volume-bar {
    .MuiSlider-rail,
    .MuiSlider-track {
        height: 15px !important;
    }

    .MuiSlider-thumb {
        border-radius: inherit;
        height: 25px;
        background: #2e706b 0% 0% no-repeat padding-box !important;
    }

    svg {
        transform: translateY(6px);
    }
}
