@import "../../../assets/styles/variables";

.level-choice-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 346px;
    height: 517px;
    border: 2px solid #e2eee3;
    border-radius: 8px;
    padding: 30px 15px;

    &__robot-img {
        transition: all 250ms ease-in-out;
        position: absolute;
        bottom: 150px;
        right: -105px;

        &:hover {
            transform: scale(1.05) skew(3deg);
        }
    }
    // easy level
    &.card-1 {
        img {
            right: -70px;
        }
    }

        // easy level
        &.card-2 {
            img {
                right: -115px;
            }
        }

    &__level {
        text-align: center;
        margin-bottom: 30px;
    }

    &__ul {
        &,
        li {
            font: normal normal normal 13px/16px $font-family-baracade;
            letter-spacing: 0px;
            color: #ffffff;
        }

        li {
            margin-bottom: 30px;
        }
        li:nth-last-of-type(1) {
            margin-bottom: 0;
        }

        &__li {
            svg {
                width: 15px;
                height: 15px;
                margin-right: 15px;
            }
            path {
                stroke: #fff !important;
            }
        }
    }

    &__bottom-section {
        &__goal {
            margin-bottom: 25px;
        }

        &__btn {
            width: 214px;
            height: 45px;
            margin: 0 auto;
        }
    }
}
