.speed-actions {
    position: fixed;
    bottom: 10px;
    right: 10px;

    button {
        background: linear-gradient(
            90deg,
            rgba(1, 190, 194, 1) 0%,
            rgba(30, 130, 129, 1) 50%,
            rgba(16, 118, 120, 1) 100%
        );
    }

    svg {
        color: #fff !important;
    }

    .MuiSpeedDialAction-staticTooltipLabel {
        width: 150px !important;
    }

    /* Icons */
    .random-seed svg {
        width: 30px !important;
        height: 30px !important;
    }

    .global-bid svg {
        width: 25px !important;
        height: 25px !important;
    }

    .vendor-actions svg {
        width: 25px !important;
        height: 25px !important;
    }
}
