
.horizontal-divider {
    position: relative;
    font-weight: 700;

    &__text {
        font-size: 16px;
        font-weight: bold;
        color: #225a78;
    }
}

.divider {
    background: #d0d0d0;
    height: 1px;
}
