.info-box {
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 8px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 20px;

    &__title {
        margin-bottom: 20px;
        font-size: 16px;
        color: rgb(34, 90, 120);
        font-weight: 700;
        line-height: 16px;
    }

    &__content {
        display: flex;

        &__item {
            margin-right: 15px;
            display: flex;
            flex-direction: column;

            &__title {
                font-weight: 600;
                font-style: normal;
                font-size: 14px;
                color: rgb(72, 84, 101);
                width: fit-content;
                white-space: nowrap;
            }

            &__value {
                margin-top: 25px;
                width: fit-content;
                height: fit-content;
                font-family: Comfortaa, cursive;
                color: rgb(72, 84, 101);
                font-weight: 300;
                letter-spacing: 0.5px;
                line-height: 1.5;
                font-size: 1em;
            }
        }
    }
}
