.head-stripe {
    display: flex;
    margin-bottom: 40px;

    &__campaign-name {
        font-size: 36px;
        font-weight: 600;
        color: #225a78;
        // padding-left: 12px;
    }

    &__days-left {
        margin-left: 30px;
        display: flex;

        &__days {
            font-family: Comfortaa, cursive;
            margin-right: 5px;
            font-size: 36px;
            vertical-align: middle;
            font-weight: 300;
            color: rgb(123, 173, 25);
            top: -8px;
        }

        &__text {
            line-height: 18px;
            font-family: "Open Sans";
            font-size: 14px;
            color: rgb(123, 173, 25);
            width: 65px;
            overflow-wrap: normal;
            display: inline-block;
        }
    }
}
