.game-progress-bar {
    background-color: #246965 !important;

    .MuiLinearProgress-barColorPrimary {
        background-color: #fff !important;
    }

    &.red {
        .MuiLinearProgress-barColorPrimary {
            background-color: #FF2B2B !important;
        }
    }
}
