// Material UI
@import './variables';

.MuiButton-outlined {
    border-color: $primary !important;

    .MuiButton-label {
        // color: $alternate !important;
    }
}

.MuiButton-contained {
    background-color: $primary !important;

    &:hover {
        background-color: darken($primary, 4%) !important;
    }
}