#play-game-screen {
    background-color: #F8F8F8;
    padding: 35px;
    min-height: 100vh;
}

.top-section {
    display: flex;

    &__left {
        display: flex;
        flex-direction: column;
    }

    &__right {
        display: flex;
        width: 200px;
        margin-left: 150px;
    }

    

}


