.modal-header-stripe {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 446px;
    height: 67px;
    padding: 20px 30px;
    box-shadow: inset 0px 1px 2px #ffffff, 3px 3px 6px #22567d;
    border-radius: 8px;
    backdrop-filter: blur(50px);

    &__svg {
        position: absolute;
        left: 10px;
    }
}
